/* ==============ROOT============= */
:root {
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;

  --primary-theme: #fff;
  --navy-titel-color: #2e2f42;
  --main-text-color: #434455;
  --brand-color: #4d5ae5;
  --accent-color: #404bbf;
  --section-theme: #f4f4fd;
  --frame-color: #e7e9fc;
}
/* =============/ROOT============= */

/* ==========NORMOLIZE============ */
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

main {
  flex-grow: 1;
}
/* ==========/NORMOLIZE============ */

/* =============BASIC============== */
body {
  background-color: var(--primary-theme);
  color: var(--main-text-color);

  font-family: var(--primary-font);
  font-style: normal;
  letter-spacing: 0.32px;
  line-height: 1.5;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

button {
  font-family: inherit;
  line-height: inherit;
}

.section-title {
  color: var(--navy-titel-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

.feature-title {
  color: var(--navy-titel-color);

  font-size: 20px;
  margin-bottom: 8px;
}

.feature-text {
  color: var(--main-text-color);

  font-size: 16px;
}

.activities .section-title,
.team .section-title {
  margin-bottom: 72px;
}
/* ============/BASIC============== */

/* =============LOGO=============== */
.logo {
  color: var(--brand-color);

  font-family: var(--logo-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-flex;
  margin-right: 76px;
}

.logo-studio {
  color: var(--navy-titel-color);
}
/* ============/LOGO============== */

/* ==========NAVIGATION=========== */
.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.address {
  font-style: normal;
  font-size: 16px;
}

.address-item {
  display: flex;
  text-align: center;
  gap: 40px;
}

.address-link {
  color: var(--main-text-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/* ==========/NAVIGATION=========== */

/* ==============HERO=============== */
 .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
  background-color: var(--navy-titel-color);
  padding: 188px 0 188px;
}
.top-header {
  border-bottom: 1px solid var(--frame-color);
}

.hero-titel {
  color: var(--primary-theme);

  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
}
.modal-btn {
  color: var(--primary-theme);
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin:0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
}

.menu-link {
  color: var(--navy-titel-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
/* =============/HERO=============== */

/* =============ABOUT=============== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-list {
  display: flex;
  gap: 24px;
}

.about-link {
  width: calc((100% - 72px) / 4);
}

.about .feature-title {
  color: var(--navy-titel-color);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.about .feature-text {
  padding-bottom: 0;
}
/* ==============/ABOUT============== */

/* ===========ACTIVITIES============= */
.activities {
  padding-bottom: 120px;
}
.activities-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 24px;
}
/* ==========/ACTIVITIES============= */

/* ==============TEAM================ */
.team-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team {
  background-color: var(--section-theme);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-card {
  background-color: var(--primary-theme);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 3);
}

.team-list {
  display: flex;
  gap: 24px;
  text-align: center;
}
/* =============/TEAM================ */

/* ==============FILTER============== */
.filter {
  padding-top: 96px;
  padding-bottom: 120px;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-btn {
  color: var(--brand-color);
  background-color: var(--section-theme);

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 24px;
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 1px solid var(--frame-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-theme);
  border: 1px solid transparent;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.container-filter {
  padding: 32px 16px;
  border-right: 1px solid var(--frame-color);
  border-left: 1px solid var(--frame-color);
  border-bottom: 1px solid var(--frame-color);
}

.filter-item {
  width: calc((100% - 48px) / 3);
}
/* =============/FILTER============== */

/* =============FOOTER=============== */
.footer {
  background-color: var(--navy-titel-color);

  padding: 100px 0 100px;
}

.logo-footer {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 16px;
}

.logo-studio-footer {
  color: var(--section-theme);
} 

.footer-text {
  color: var(--section-theme);

  font-size: 16px;
  width: 264px;
}
/* ============/FOOTER=============== */